span.icon {
    font-family: 'Glyphicons Halflings';
}

/* the content area should fill but not go under/over header and footer */
.contentFill {
    min-height: 100%;
}

#main {
    height: 100%;
    padding-bottom: 0;
    padding-top: 51px;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
}

html {
    background-color: black;
    /*overflow: hidden;*/
}

.speedButton {
    display: none;
}

#dashboard {
    margin-top: 56px;
    bottom: 0;
    left: 0;
    /*margin: auto;*/
    top: 0;
    right: 0;
    /*height:auto;
  width:auto;*/
    background-color: black;
    z-index: 10;
    position: absolute;
    /*vertical-align:middle;*/
    /*left:0px;
  top:0px;*/
}

#jLeft {
    min-height: 100%;
    width: 50%;
    z-index: 20;
    position: absolute;
}

#jRight {
    min-height: 100%;
    width: 50%;
    right: 0px;
    z-index: 20;
    position: absolute;
}

#gLeft, #gRight, #gClock, #gMini {
    position: absolute;
    left: 0px;
    top: 0px;
    /*height:auto;
  width:auto;*/
    z-index: 100;
    display: none;
}

.center-container {
    height: 100%;
    display: table;
    width: 100%;
    margin: 0;
}

.center-row {
    height: 100%;
}

.center-col {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    height: 100%;
    /*padding-bottom: 140px;*/
}

.cameraButton {
    height: 45px;
    width: 45px;
    margin: 1px;
    display: none;
}


.footerButtons {
    height: 40px;
    z-index: 25;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.cameraImage {
    display: none;
    overflow: hidden;
    height: auto;
    width: 100%;
}

.imgFill {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar {
    margin-bottom: 0px;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-fixed-bottom {
    z-index: 500;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    background-color: dimgray;
    position: relative;
    height: 100%;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dark {
    background-color: dimgray !important;
    height: 50px;
}

.navBarPadding {
    padding-top: 8px;
}

body {
    height: 100%;
    background-color: black;
    /*background: url("/images/back1.jpg") no-repeat center center;*/
    background-size: 100% 100%;
    /* Margin bottom by footer height */
    /*margin-bottom: 110px;*/
    -ms-touch-action: none;
}

.footer {
    /*background-color: red;
    position: fixed;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 41px;
}
