span.icon {
    font-family: 'Glyphicons Halflings';
}

/* the content area should fill but not go under/over header and footer */
.contentFill {
    width: 100%;
    min-height: 100%;
    height: 100%;
    /* header has 50px */
    top: 55px; 
    /* footer has 150px */
    bottom: 155px; 
    left: 0;
    right: 0;
    position: fixed;
}



.footerElement {
    height: 150px;
    text-align: center;
}

.speedSlider {
    height: 140px;
    margin: 0 auto;
}

.noUi-tooltip.noUi-tooltip {
    left: -55px !important;
    bottom: 0px !important;
}

.noUi-connect.noUi-connect {
    background: teal;
}

.noUi-pips.noUi-pips {
    color: white;
}

.noUi-marker-large.noUi-marker-large {
    background-color: white;
}

/*.canvas-container.canvas-container {
    top: 0;
    height: 100% !important;
    position: absolute !important;
}*/

.imgFill {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    background-color: dimgray;
    position: relative;
    min-height: 100%;
    background: url("/images/back1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dark {
    background-color: dimgray !important;
    height: 50px;
}

.navBarPadding {
    padding-top: 8px;
}

body {
    background-color: dimgray;
    /* Margin bottom by footer height */
    margin-bottom: 120px;
    -ms-touch-action: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 150px;
    background-color: #f5f5f5;
}
